h1.other{
background-color:rgb(166, 210, 228);
color:black; 
font-size: 100px;
font-weight: bold;
Font-family: Arial;
text-align: center;
}

a:hover{
    background-color: rgb(98, 151, 194);
    font-weight: bold;
    color: black; 
    Font-family: Arial;
}

h1:hover{
    background-color: rgb(98, 151, 194);
}

h1.other:hover{
    background-color: rgb(166, 210, 228);
}

h2{
    font-weight: bold;
    color: black;
    font-size: 72px;
    margin-left:45px;

}

body{
    font-family: Arial;
    font-style: bold;
    font-size: 24px;
    padding-bottom: 25px;

}

mark.underline
{
    background-color: white;
}

p.point {
color: black;
font-size: 30px;
text-align: left;
margin-left: 320px;
margin-right:150px;
padding-bottom: 10px;
text-align: center;
}


b {
    font-style: normal;
    font-weight: bold;
}