@charset "UTF-8";
html {
/*  box-sizing: border-box;
   }
*, *::after, *::before {
  box-sizing: inherit; */
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #F2F3EB;
  cursor: url("img/blackCircle.png"), auto;
  z-index: 1;
}

.heading{
  font-family: Helvetica, sans-serif;
  position: absolute;
  font-size: 65px;
  text-decoration:none;
  left: 40px;
  top: 30px;
  color: black;
}

.heading a{
  color: black;
  font-size: 65px;
  position: fixed;
  text-decoration: underline;
  left: 40px;
  top: 30px;
}

.heading a:hover{
  color:white

}

#bio{
  font-family: Helvetica, sans-serif;
  position: absolute;
  font-size: 65px;
/*  text-decoration: underline;*/
  left: 40px;
  top: 130px;
  color: black;
}

#bio a{
  color: black;
  font-size: 55px;
}
#bio a:hover{
  color: white;
  cursor: url("img/blackCircle.png"), auto;
}

.description{
  color: black;
}

.contact{
color: black;
}
.contact:hover{
  
}

.menu{ 
  position:fixed;
  font-size: 90px;
  font-weight: bold;
  background-color:transparent;
  border: none;
  padding: 7px;
  top:20px;
  left:93%;
  outline:none;
}
.menu:hover{ 
  cursor: url("img/blackCircle.png"), auto;
  z-index: 1;
}

.dropdown {
  position: absolute;
}

.dropdown-content {
  position: absolute;
  display: none;
  width: 100rem;
  align-content: center;
  position: absolute;
  overflow: visible;
  left: 72em;
  top:2.8em;
}
.dropdown-content-work {
  position: absolute;
  display: none;
  width: 100rem;
  align-content: center;
  position: absolute;
  overflow: visible;
  left: 50em;
  top:3em;
}

.dropdown-content a{
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  word-spacing: 60px;
  text-decoration:none;
  width: 140px;
  height: 20px;
  background-color: white;
  color: black;
  box-shadow: -9px 5px ;
  border:1px solid;
  padding: 8px 0px 10px 0px;
}
.dropdown-content-contact a{
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  word-spacing: 60px;
  text-decoration:none;
  width: 140px;
  height: 20px;
  background-color: white;
  color: black;
  box-shadow: -9px 5px ;
  border:1px solid;
  padding: 8px 0px 10px 0px;
  left: 300px;
}

.dropdown-content-work a{
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  word-spacing: 60px;
  text-decoration:none;
  width: 140px;
  height: 20px;
  background-color: white;
  color: black;
  box-shadow: -9px 5px ;
  border:1px solid;
  padding: 5px 0px 5px 0px;
}

.dropdown a:hover {
  cursor: url("img/blackCircle.png"), auto;
  background-color: rgb(0,39,237);
  color:white;
  box-shadow: -9px 5px rgb(0,0,0);
  border:1px solid;
  border-color: black;
/*  font-weight: bold;*/
}

.list {
  display: inline-block;
  word-spacing: 40px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 190px;
  height: 100px;
  background-color: white;
  color: black;
  box-shadow: -9px 5px;
  border:1px solid;
  padding: 5px 0;
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 190px;
  height: 100px;
  background-color: white;
  color: black;
  box-shadow: -9px 5px;
  border:1px solid;
  padding: 5px 0;
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

/*.workBox{
  width: 190px;
  height: 100px;
  background-color: white;
  position: relative;
  color: black;
  box-shadow: -9px 5px;
  border:1px solid;
  padding: 5px 0;
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
}*/

.image1{
top:30%;
left:15%;
position: absolute;
}

/*.hoverinfo {
  position: absolute;
  font-size: 28px;
  color: #ffffff;
  cursor: pointer;
  color: black;
}
*/

.hoverinfo p {
  display: none;
  color: #000000;

}

.hoverinfo:hover p {
  width:225px;
  height:225px;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  top:28%;
  left:15%;
  position: absolute;
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
}



/*----------------------------*/



@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 800px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

.heading{
  font-family: Helvetica, sans-serif;
  position: absolute;
  font-size: 40px;
  text-decoration:none;
  left: 45px;
  top: 30px;
  color: black;
}

.heading a{
  color: black;
  font-size: 45px;
  position: fixed;
  text-decoration: underline;
  left: 40px;
  top: 30px;
}

.heading a:hover{
  color:white

}

#bio{
  font-family: Helvetica, sans-serif;
  position: absolute;
  font-size: 40px;
/*  text-decoration: underline;*/
  left: 40px;
  top: 130px;
  color: black;
}

#bio a{
  color: black;
  font-size: 45px;
}

#bio a:hover{
  color: white;
  cursor: url("img/blackCircle.png"), auto;
}

}




  
