Body {
    background: #ffb48c;
}

/*animation for later
@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
}
*/
/*====================================================================*/

.parallax {
    background: #ffb48c;
    min-height: 120px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*====================================================================*/
/*MENU BAR - STICKY*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:rgba(0, 151, 206, 0.1);
    position: -webkit-sticky;
    position: fixed;
    margin-top: 0px;
    top: 0; left: 0; right: 0;
    font-family: Filson-pro, sans-serif; 
    z-index: 1;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgba(0, 151, 206, 0.4);
}

/*====================================================================*/

#esther{
    font-style: bold;
    font-family: Filson-pro, sans-serif;
    font-size: 166px;
    text-align: center;
    padding-top: 175px;
    color: #FDF18A;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

#subtitle{
    font-style: bold;
    font-family: Filson-pro, sans-serif;
    font-size: 90px;
    text-align: center;
    padding-top: 120x;
    color: #FDF18A;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

/*====================================================================*/
/*progress PAGE*/

#progress {
    font-style: bold;
    font-family: Filson-pro, sans-serif;
    font-size: 166px;
    text-align: center;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    padding-top: 20px;
    color: #ABE9DD;
    width: 100%;
    height:3000px; 
    position: absolute;
    background-color:#FDF18A
    
}
.image1 {
    width:30%;
    padding-left: 700px;
    padding-top: 400px;
    float: left;
    position: relative;
}

.image2 {
    width:10%;
    padding-left: 90px;
    padding-top: 520px;
    float: left;
    position: relative;
}

#state1{
    font-family: Filson-pro, sans-serif;
    font-weight: bold;
    font-size: 70px;
    text-align: left;
    padding-left: 220px;
    padding-top: 450px;
    line-height: 0px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    color: #ABE9DD;
    position: absolute;
 
}
#california {
    width: 252px;
    font-family: Filson-pro, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding-top: 525px;
    padding-left: 230px;
    color: #ABE9DD;
   position: absolute;
}
.image3 {
    width:30%;
    padding-left: 200px;
    padding-top: 80px;
    float: left;
    position: relative;
}

.image4 {
    width:10%;
    padding-left: 100px;
    padding-top: 220px;
    float: left;
    position: relative;
}

#state3{
    font-family: Filson-pro, sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-align: left;
    padding-left: 1100px;
    padding-top: 950px;
    line-height: 0px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    color: #ABE9DD;
    position: absolute;
}
#virginia {
    width: 325px;
    font-family: Filson-pro, sans-serif;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    padding-left: 1100px;
    padding-top: 1040px;
    color: #ABE9DD;
    position: absolute;
}

.image5 {
    width:30%;
    padding-left: 700px;
    padding-top: 60px;
    float: left;
    position: relative;
}

.image6 {
    width:10%;
    padding-left: 90px;
    padding-top: 200px;
    float: left;
    position: relative;
}

#state5{
    font-family: Filson-pro, sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-align: left;
    padding-left: 220px;
    padding-top: 1415px;
    line-height: 0px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    color: #ABE9DD;
    position: absolute;
    
}
#newyork {
    width: 252px;
    font-family: Filson-pro, sans-serif;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    padding-left: 220px;
    padding-top: 1500px;
    color: #ABE9DD;
    position: absolute;
}

/*====================================================================*/
/*LIKES PAGE*/


#instructions{
    font-family: Filson-pro, sans-serif;
    font-weight: bold;
    font-size: 70px;
    padding-top: 2210px;
    padding-left: 750px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    color: #ffb48c; 
    position: absolute;
    text-align: center;
    
}

#instructions2{
    font-family: Filson-pro, sans-serif;
    font-weight: bold;
    font-size: 70px;
    padding-top: 3120px;
    padding-left: 120px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    color: #ffb48c; 
    position: absolute;


}

#instructions3{
    font-family: Filson-pro, sans-serif;
    font-weight: bold;
    font-size: 70px;
    padding-top: 3750px;
    padding-left: 640px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    color: #ffb48c; 
    position: absolute;

}



#likes{
    font-family: Filson-pro, sans-serif;
    font-weight: bold;
    font-size: 166px;
    text-align: center;
    margin-left: 0px;
    margin-top: 1900px;
    padding-top: 30px;
    color: #FDF18A; 
    width: 100%;
    height: 2900px;
    position: absolute;
    background: #ABE9DD;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}


/*SCROLLING FAVORITES BOX - reference ->
http://jsfiddle.net/jonathansampson/h7SYp/SCROLLING
*/





.container {
    font-family: Filson-pro, sans-serif;
    font-weight: bold;
    font-size: 166px;
    text-align: center;
    background: #ABE9DD;
    margin-top: 5000px;
    padding: 2000px;
}
.image7{
    width:25%;
    padding-left: 95px;
    padding-top: 350px;
    float: left;
    position: relative;
}
.image8{
    width:25%;
    padding-left: 50px;
    padding-top: 550px;
    position: absolute;
    left: 50px;
    top: 2850px;
}
.buttonLink{
width:15%;
position: absolute;
left: 920px;
top: 3350px;
}

.buttonLink2{
width:15%;
position: absolute;
left: 350px;
top: 3890px;
}

.buttonLink3{
 width:15%;
 position: absolute;
 left: 850px;
 top: 4500px;
}

.image9{
    width:25%;
    padding-left: 540px;
    padding-top: 1250px;
    float: left;
    position: relative;
}
.image10{
    width:25%;
    padding-left: 0px;
    padding-top: 900px;
    float: left;
    position: absolute;
    left: 1000px;
    top: 2790px;
}


.image11{
    width:25%;
    padding-left: 50px;
    padding-top: 340px;
    float: left;
    position: relative;
}

.image12{
    width:25%;
    padding-left: 50px;
    padding-top: 1450px;
    float: left;
    position: absolute;
    left: 8px;
    top: 2850px;
}


.image13{
    width:35%;
    padding-left: 10px;
    padding-top: 1000px;
    float: left;
    position: absolute;
    left: 50px;
    top: 4200px;
}


#inspiration {
    font-style: bold;
    font-family: Filson-pro, sans-serif;
    font-size: 50px;
    padding-left: 0px;
    padding-top: 900px;
    text-align: center;
    color: #ABE9DD;

}
/*====================================================================*/
/* WORKS PAGE */

#contact {
    font-style: bold;
    font-family: Filson-pro, sans-serif;
    font-size: 100px;
    text-align: center;
    padding-top: 4000px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    color:  #FDF18A;
}


  
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-family: Filson-pro, sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    outline: none;
    background:rgba(0, 151, 206, 0.1);;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

/*====================================================================*/
/* BACK TO TOP BUTTON */
  
  #myBtn:hover {
    background-color: rgba(0, 151, 206, 0.3);;
  }