Body {
    background: #ffb48c;
}

/*animation for later
@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
}
*/
/*====================================================================*/

.parallax {
    background: #ff90cc;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*====================================================================*/
/*MENU BAR - STICKY*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:rgba(0, 151, 206, 0.1);
    position: -webkit-sticky;
    position: fixed;
    margin-top: 0px;
    top: 0; left: 0; right: 0;
    font-family: Filson-pro, sans-serif; 
    z-index: 1;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgba(0, 151, 206, 0.4);
}

/*====================================================================*/

#esther{
    font-style: bold;
    font-family: Filson-pro, sans-serif;
    font-size: 166px;
    text-align: center;
    padding-top: 175px;
    color: #FDF18A;
}

/*====================================================================*/
/*progress PAGE*/

#progress {
    font-style: bold;
    font-family: Filson-pro, sans-serif;
    font-size: 166px;
    text-align: center;
    padding-top: 175px;
    color: #ABE9DD;
}
.image1 {
    width:30%;
    padding-left: 90px;
    padding-top: 150px;
    float: left;
    position: relative;
}

#state1{
    font-family: Filson-pro, sans-serif;
    font-weight: bold;
    font-size: 70px;
    text-align: left;
    padding-left: 252px;
    padding-top: 175px;
    line-height: 0px;
    color: #ABE9DD;
    position: absolute;
 
}
#california {
    width: 300px;
    font-family: athelas;
    font-size: 55px;
    text-align: left;
    padding-top: 205px;
    padding-left: 252px;
    color: #ABE9DD;
   position: absolute;
}
.image3 {
    width:50%;
    padding-left: 70px;
    padding-top: 130px;
    float: left;
    position: relative;
}

#state3{
    font-family: Filson-pro, sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-align: left;
    padding-left: 40px;
    padding-top: 1200px;
    line-height: 0px;
    color: #ABE9DD;
    position: absolute;
}
#virginia {
    width: 300px;
    font-family: athelas;
    font-size: 55px;
    text-align: left;
    padding-left: 40px;
    padding-top: 1235px;
    color: #ABE9DD;
    position: absolute;
}

#state5{
    font-family: Filson-pro, sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-align: left;
    padding-left: 610px;
    padding-top: 2010px;
    line-height: 0px;
    color: #ABE9DD;
    position: absolute;
    
}
#newyork {
    width: 252px;
    font-family: athelas;
    font-size: 55px;
    text-align: left;
    padding-left: 610px;
    padding-top: 2045px;
    color: #ABE9DD;
    position: absolute;
}

/*====================================================================*/
/*LIKES PAGE*/

#likes {
    font-family: Filson-pro, sans-serif;
    font-weight: bold;
    font-size: 166px;
    text-align: center;
    margin-left: 0px;
    margin-top: 2700px;
    padding-top: 175px;
    color: #dff442; 
    width: 100%;
    height: 1000px;
    position: absolute;
    background: #ABE9DD;
}


/*SCROLLING FAVORITES BOX - reference ->
http://jsfiddle.net/jonathansampson/h7SYp/SCROLLING
*/

.favorites container {
    width: 25em;
    height: 12em;
    margin: 1em auto;
    overflow: hidden;
    background: #ABE9DD;
    position: relative;
    box-sizing: border-box;
    margin-top: 3340px;
    padding: 63px;
    float: center;
}

.marquee {
    top: 0em;
    position: relative;
    box-sizing: border-box;
    animation: marquee 5s linear infinite;
    overflow: hidden;
}

.marquee:hover {
    animation-play-state: running;
}


@keyframes marquee {
    0%   { top:  0em }
    100% { top: -24em }
}


.favorites .marquee {
	margin: 0;
    padding: 0em;
    line-height: 1.5em;
    font-family: Filson-pro, sans-serif;
    font-size: 80px;
    color: #C0ADE7;
}

.favorites:before, .favorites::before,
.favorites:after,  .favorites::after {
    left: 0;
    z-index: 1;
    content: '';
    position: absolute;
    pointer-events: none;
    width: 100%; height: 100%;
}

.favorites:after, .favorites::after {
    bottom: 0;
    transform: rotate(180deg);
}

.favorites:before, .favorites::before {
    top: 0;
}

#email {
    font-style: bold;
    font-family: Filson-pro, sans-serif;
    font-size: 100px;
    text-align: center;
    padding-top: 175px;
    color: #ABE9DD;
}

#inspiration {
    font-style: bold;
    font-family: Filson-pro, sans-serif;
    font-size: 65px;
    text-align: center;
    padding-top: 175px;
    color: #ABE9DD;

}

/*====================================================================*/
/* WORKS PAGE */

  
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-family: Filson-pro, sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    outline: none;
    background:rgba(0, 151, 206, 0.1);;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

/*====================================================================*/
/* BACK TO TOP BUTTON */
  
  #myBtn:hover {
    background-color: rgba(0, 151, 206, 0.3);;
  }