Body {
    background: #ffb48c;
}

/*animation for later
@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
}
*/
/*====================================================================*/

.parallax {
    background: #ffb48c;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*====================================================================*/
/*MENU BAR - STICKY*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:rgba(0, 151, 206, 0.1);
    position: -webkit-sticky;
    position: fixed;
    margin-top: 0px;
    top: 0; left: 0; right: 0;
    font-family: Filson-pro, sans-serif; 
    z-index: 1;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgba(0, 151, 206, 0.4);
}

/*====================================================================*/

#esther{
    font-style: bold;
    font-family: Filson-pro, sans-serif;
    font-size: 166px;
    text-align: center;
    padding-top: 175px;
    color: #FDF18A;
}

#subtitle{
    font-style: bold;
    font-family: Filson-pro, sans-serif;
    font-size: 90px;
    text-align: center;
    padding-top: 120x;
    color: #FDF18A;
}

/*====================================================================*/
/*progress PAGE*/

#progress {
    font-style: bold;
    font-family: Filson-pro, sans-serif;
    font-size: 166px;
    text-align: center;
    padding-top: 175px;
    color: #ABE9DD;
}
.image1 {
    width:30%;
    padding-left: 800px;
    padding-top: 150px;
    float: left;
    position: relative;
}

#state1{
    font-family: Filson-pro, sans-serif;
    font-weight: bold;
    font-size: 70px;
    text-align: left;
    padding-left: 252px;
    padding-top: 160px;
    line-height: 0px;
    color: #ABE9DD;
    position: absolute;
 
}
#california {
    width: 252px;
    font-family: Filson-pro, sans-serif;
    font-size: 55px;
    text-align: left;
    padding-top: 205px;
    padding-left: 252px;
    color: #ABE9DD;
   position: absolute;
}
.image3 {
    width:30%;
    padding-left: 200px;
    padding-top: 95px;
    float: left;
    position: relative;
}

#state3{
    font-family: Filson-pro, sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-align: left;
    padding-left: 800px;
    padding-top: 680px;
    line-height: 0px;
    color: #ABE9DD;
    position: absolute;
}
#virginia {
    width: 325px;
    font-family: Filson-pro, sans-serif;
    font-size: 55px;
    text-align: left;
    padding-left: 800px;
    padding-top: 730px;
    color: #ABE9DD;
    position: absolute;
}

.image5 {
    width:30%;
    padding-left: 800px;
    padding-top: 95px;
    float: left;
    position: relative;
}

#state5{
    font-family: Filson-pro, sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-align: left;
    padding-left: 252px;
    padding-top: 1190px;
    line-height: 0px;
    color: #ABE9DD;
    position: absolute;
    
}
#newyork {
    width: 252px;
    font-family: Filson-pro, sans-serif;
    font-size: 55px;
    text-align: left;
    padding-left: 252px;
    padding-top: 1260px;
    color: #ABE9DD;
    position: absolute;
}

/*====================================================================*/
/*LIKES PAGE*/

#likes{
    font-family: Filson-pro, sans-serif;
    font-weight: bold;
    font-size: 166px;
    text-align: center;
    margin-left: 0px;
    margin-top: 2700px;
    padding-top: 175px;
    color: #FDF18A; 
    width: 100%;
    height: 1000px;
    position: absolute;
    background: #ABE9DD;
}


/*SCROLLING FAVORITES BOX - reference ->
http://jsfiddle.net/jonathansampson/h7SYp/SCROLLING
*/

.container {
    font-family: Filson-pro, sans-serif;
    font-weight: bold;
    font-size: 166px;
    text-align: center;
    background: #ABE9DD;
    margin-top: 5000px;
    padding: 2000px;
}
.image6{
    width:25%;
    padding-left: 100px;
    padding-top: 1500px;
    float: left;
    position: relative;

}
.image7{
    width:25%;
    padding-left: 400px;
    padding-top: 1500px;
    float: left;
    position: relative;

}
.image8{
    width:25%;
    padding-left: 10px;
    padding-top: 50px;
    float: left;
    position: relative;

}


#inspiration {
    font-style: bold;
    font-family: Filson-pro, sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 1000px;
    color: #ABE9DD;

}
/*====================================================================*/
/* WORKS PAGE */

#contact {
    font-style: bold;
    font-family: Filson-pro, sans-serif;
    font-size: 100px;
    text-align: center;
    padding-top: 2000px;
    color:  #FDF18A;
}


  
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-family: Filson-pro, sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    outline: none;
    background:rgba(0, 151, 206, 0.1);;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

/*====================================================================*/
/* BACK TO TOP BUTTON */
  
  #myBtn:hover {
    background-color: rgba(0, 151, 206, 0.3);;
  }