@charset "UTF-8";
html {
/*  box-sizing: border-box;
   }
*, *::after, *::before {
  box-sizing: inherit; */
}
body {
/*  font-family: 'IBM Plex Mono', monospace;*/
/*  font-weight: 500;*/
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #F2F3EB;
  cursor: url("img/blackCircle.png"), auto;
  z-index: 1;
}

.heading{
  font-family: Helvetica, sans-serif;
  position: absolute;
  font-size: 65px;
/*  text-decoration: underline;*/
  left: 40px;
  top: 30px;
  color: black;
}

.heading a{
  color: black;
  font-size: 65px;
  position: fixed;
  text-decoration: none;
  left: 40px;
  top: 30px;
}

.heading a:hover{
  font-size: 65px;
  position: fixed;
  text-decoration: underline;
}

#bio{
  font-family: Helvetica, sans-serif;
  position: absolute;
  font-size: 65px;
/*  text-decoration: underline;*/
  left: 40px;
  top: 130px;
  color: black;

}

.description{
  color: black;
}

.menu{ 
  position:fixed;
  font-size: 60px;
  font-weight: bold;
  background-color:transparent;
   border: none;
  padding: 7px;
  top:35px;
  left:93%;
  outline:none;
}
.menu:hover{ 
  cursor: url("img/blackCircle.png"), auto;
  z-index: 1;
}

.dropdown {
  position: absolute;
}

.dropdown-content {
  display: none;
  width: 100rem;
  align-content: center;
  position: absolute;
  overflow: auto;
/*  z-index: 1;*/
  left: 55em;
  top:4em;
/*  margin: 0 1.5%;
  width: 63%;*/
}

.dropdown-content a{
  font-family: Helvetica, sans-serif;
  text-align: left;
  font-size: 25px;
  color: black;
  text-decoration: underline;
  display: inline;
  word-spacing: 60px;
}

.dropdown a:hover {
  font-family: Helvetica, sans-serif;
  text-align: left;
  font-size: 25px;
  color: black;
  font-weight: bold;
  display: inline;
  word-spacing: 60px;


}

.list {
  display: inline-block;
  word-spacing: 60px;
}

/*.box1 a{
  background:transparent;
  width: 170px;
  height: 20px;
  background-color: white;
  color: black;
  box-shadow: -9px 5px ;
  border:1px solid;
  padding: 5px 0px 5px 0px;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: relative;
  display: block;
}

.box2 a{
  position: relative;
  width: 150px;
  height: 20px;
  background-color: white;
  color: black;
  box-shadow: -9px 5px;
  border:1px solid;
  padding: 5px 0px 5px 0px;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  position: relative;
}

.box3 a{
  position: relative;
  width: 140px;
  height: 20px;
  background-color: white;
  color: black;
  box-shadow: -9px 5px;
  border:1px solid;
  padding: 5px 0px 5px 0px;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  text-align: center;
    position: relative;
}*/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 190px;
  height: 100px;
  background-color: white;
  color: black;
  box-shadow: -9px 5px;
  border:1px solid;
  padding: 5px 0;
  font-size: 20px;
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}


  
